.comment-header
  %span.collapse
    = link_to "[-]", nil
  - if comment.user
    = link_to comment.user.username, comment.user
  - else
    [deleted]
  score: #{comment.vote_value}
.comment-body
  = comment.body
  .comment-links
    %span.vote-btn-group
      = link_to votes_vote_path(:comment_id => comment.id, :value => 1), :method => :post, :class => "btn btn-small" do
        %i.icon-thumbs-up
      = link_to votes_vote_path(:comment_id => comment.id, :value => -1), :method => :post, :class => "btn btn-small" do
        %i.icon-thumbs-down
    -if can? :delete, comment
      = link_to "delete", comment, :method => :delete
    %span.reply 
      = link_to "reply", nil

    .subcomments
      = render :partial => "comments/form", :locals => {:comment => comment}
      = render comment.subcomments
