.comment-header
  %span.collapse
    = link_to "[-]", nil
  - if comment.user
    = link_to comment.user.username, comment.user
  - else
    [deleted]
.comment-body
  = comment.body
  .comment-links
    = render :partial => "votes/vote", :locals => {:object => comment}
    -if can? :delete, comment
      = link_to "delete", comment, :method => :delete
    %span.reply 
      = link_to "reply", nil

    .subcomments
      = render :partial => "comments/form", :locals => {:comment => comment}
      = render comment.subcomments
