= form_for (Comment.new) do |f|
  - if defined? comment
    .field
      = f.hidden_field :parent_id, :value => comment.id
  - elsif defined? challenge
    .field
      = f.hidden_field :challenge_id, :value => challenge.id
  - elsif defined? photo
    .field
      = f.hidden_field :photo_id, :value => photo.id
  -if defined? comment
    .response-area
      .field
        = f.text_area :body
      .actions
        = f.submit :'Submit'
  -else
    .first-response-area
      .field
        = f.text_area :body
      .actions
        =f.submit :'Submit'
