%h1
  = @user.username
  
.row
  .span8
    .onlyjs
      %ul.nav.nav-pills.nav-hash
        %li#challenges-tab
          = link_to "#challenges" do
            %i.icon-star
            Challenges
        %li#photos-tab
          = link_to "#photos" do
            %i.icon-picture
            Photos
    .nojs
      %h3 Photos
    #photos-hash.content-hash.photo-grid
      - @photos.each do |photo|
        .image-mouseover
          = link_to photo do
            = image_tag photo.image(:thumb)
          .image-mouseover-content.hidden-tablet.hidden-phone
            - if not photo.caption.blank?
              %p= truncate(photo.caption, :length => 70)
            %p Challenge: #{link_to photo.challenge.name, photo.challenge}
    .nojs
      %h3 Completed Challenges:
    #completed-challenges.content-hash#challenges-hash
      -@completed_challenges.each do |completed|
        = render :layout => "challenges/mini", :locals => {:challenge => completed} do
          - photos = completed.photos(@graph, current_user).where(user_id: @user.id, challenge_id: completed.id)
          - if photos
            .tiny-photos
              - photos.each do |photo|
                = link_to photo do
                  = image_tag photo.image(:tiny)
          %p Completed by #{@user.username} #{time_ago_in_words completed.completed_by?(@user).created_at} ago

  .span4
    %h5 Recent Activity
    - @newsfeed.each do |n|
      = render :partial => "newsfeed/main", :locals => {:newsfeed_item => n}
