%h2 What to do?
.todo
  %h3 On your todo list:
  -if @challenges_todo.any?
    .todo-challenges
      -@challenges_todo.each do |todo|
        = render :layout => "challenges/mini", :locals => {:challenge => todo} do
          =""
-if @friend_challenges.any?
  .friends
    %h3 Challenges your friends have completed:
    .friend-challenges
      -@friend_challenges.each do |challenge|
        = link_to challenge[:challenge].name, challenge[:challenge]
        Completed by
        = link_to challenge[:friend].username, challenge[:friend]
-if @popular_challenges.any?
  .popular
    %h3 Popular challenges:
    %p If none of these catch your eye, browse the #{link_to "locations", locations_path}!
    .popular-challenges
      -@popular_challenges.each do |popular|
        = render :layout => "challenges/mini", :locals => {:challenge => popular} do
          =""

