.todo
  %h3 Todo List
  -if @challenges_todo.any?
    .todo-challenges
      -@challenges_todo.each_with_index do |todo, i|
        .row
          .span2
            .pull-right
              = link_to add_completed_path(todo), :class => "btn btn-success" do
                %i.icon-check
              = link_to remove_todo_path(todo), :class => "btn btn-danger" do
                %i.icon-trash
          = render :layout => "challenges/mini", :locals => {:challenge => todo} do
            .tiny-photos
              - todo.photos(@graph, current_user).limit(10).each do |photo|
                = link_to photo do
                  = image_tag photo.image(:tiny)
-if @friend_challenges.any?
  .friends
    %h3 Challenges your friends have completed:
    .friend-challenges
      -@friend_challenges.each do |challenge|
        = link_to challenge[:challenge].name, challenge[:challenge]
        Completed by
        = link_to challenge[:friend].username, challenge[:friend]
-if @popular_challenges.any?
  .popular
    %h3 Popular challenges:
    %p If none of these catch your eye, browse the #{link_to "locations", locations_path}!
    .popular-challenges
      -@popular_challenges.each do |popular|
        = render :layout => "challenges/mini", :locals => {:challenge => popular} do
          .tiny-photos
            - popular.photos(@graph, current_user).limit(10).each do |photo|
              = link_to photo do
                = image_tag photo.image(:tiny)

