.row
  .span4
    = image_tag @photo.image(:thumb)

  .span8
    = form_for @photo, :html => { :multipart => true, :class => "form-horizontal" } do |f|
      - if @photo.errors.any?
        #error_explanation
          %h2= "#{pluralize(@photo.errors.count, "error")} prohibited this photo from being saved:"
          %ul
            - @photo.errors.full_messages.each do |msg|
              %li= msg

      .control-group
        = f.label :caption, :class => "control-label"
        .controls
          = f.text_area :caption, :rows => 2
      .control-group
        = f.label :privacy_level, "Privacy", :class => "control-label"
        .controls
          = f.select :privacy_level, [["Private", 1], ["Friends Only", 2], ["Public", 3]]
      .actions
        = f.submit 'Save'
