-#%h1 Listing photos
%h1 Photos

.thumbnail-grid
  %ul.thumbnails
    -@photos.each do |photo|
      %li.span4
        = link_to photo, :class => "thumbnail" do
          = image_tag photo.image.url(:thumb)

%table
  %tr
    %th Challenge
    %th Caption
    %th User
    %th Privacy level
    %th
    %th
    %th

  - @photos.each do |photo|
    %tr
      %td= photo.challenge_id
      %td= photo.caption
      %td= photo.user_id
      %td= photo.privacy_level
      %td= link_to 'Show', photo
      %td= link_to 'Edit', edit_photo_path(photo)
      %td= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' }

%br
