%p#notice= notice

%p
  %b Challenge:
  = @photo.challenge_id
%p
  %b Caption:
  = @photo.caption
%p
  %b User:
  = @photo.user_id
%p
  %b Privacy level:
  = @photo.privacy_level_id

= image_tag @photo.image.url

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path

%h1
  Comments!
  = form_for (Comment.new) do |f|
    .field
      = f.label :body
      = f.text_area :body
    .field
      = f.hidden_field :photo_id, :value => @photo.id
    .actions
      =f.submit

= render @photo.comments
