%p#notice= notice

%p
  %b Challenge:
  = @photo.challenge_id
%p
  %b Caption:
  = @photo.caption
%p
  %b User:
  = @photo.user_id
%p
  %b Privacy level:
  = @photo.privacy_level_id

= image_tag @photo.image.url

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path

score: #{@photo.vote_value}
= link_to "upvote", votes_vote_path(:photo_id => @photo.id, :value => 1), :method => :post
= link_to "downvote", votes_vote_path(:photo_id => @photo.id, :value => -1), :method => :post

%h1
  Comments!
= render :partial => "comments/form", :locals => {:photo => @photo}
= render @photo.comments
