%ul.breadcrumb
  %li
    - location = @photo.challenge.location
    = link_to location.name, location
    %span.divider >
  %li
    = link_to @photo.challenge.name, @photo.challenge
    %span.divider >
  %li
    Photo

.photo-page-well
  = image_tag @photo.image(:big)

%p= @photo.caption

score: #{@photo.vote_value}
-if current_user
  = link_to "upvote", votes_vote_path(:photo_id => @photo.id, :value => 1), :method => :post
  = link_to "downvote", votes_vote_path(:photo_id => @photo.id, :value => -1), :method => :post

posted by #{@photo.user.username} #{time_ago_in_words @photo.created_at} ago
-if can? :destroy, @photo
  =link_to "Remove photo", @photo, :method => :delete
  \|
-if can? :update, @photo
  = link_to 'Edit', edit_photo_path(@photo)
  \|
= link_to 'Back', challenge_path(@photo.challenge)

-if current_user
  = render :partial => "comments/form", :locals => {:photo => @photo}
= render @photo.comments
