%ul.breadcrumb
  %li
    - location = @photo.challenge.location
    = link_to location.name, location
    %span.divider >
  %li
    = link_to @photo.challenge.name, @photo.challenge
    %span.divider >
  %li
    Photo

.photo-page-well
  = image_tag @photo.image(:big)

%p= @photo.caption

score: #{@photo.vote_value}
-if current_user
  %span.vote-btn-group
    = link_to  votes_vote_path(:photo_id => @photo.id, :value => 1), :method => :post, :class => "btn btn-small" do
      %i.icon-thumbs-up
    = link_to votes_vote_path(:photo_id => @photo.id, :value => -1), :method => :post, :class => "btn btn-small" do
      %i.icon-thumbs-down

posted by 
=link_to @photo.user.username, @photo.user
#{time_ago_in_words @photo.created_at} ago
-if can? :destroy, @photo
  =link_to "Remove photo", @photo, :method => :delete
  \|
-if can? :update, @photo
  = link_to 'Edit', edit_photo_path(@photo)

-if current_user
  = render :partial => "comments/form", :locals => {:photo => @photo}
= render @photo.comments
