%ul.breadcrumb
  %li
    - location = @photo.challenge.location
    = link_to location.name, location
    %span.divider >
  %li
    = link_to @photo.challenge.name, @photo.challenge
    %span.divider >
  %li
    Photo

.photo-page-well
  = image_tag @photo.image(:big)

%p.photo-caption= @photo.caption

.photo-actions
  = render :partial => "votes/vote", :locals => {:object => @photo}

  .pull-right
    posted by 
    =link_to @photo.user.username, @photo.user
    #{time_ago_in_words @photo.created_at} ago
    -if can? :destroy, @photo
      =link_to "remove photo", @photo, :method => :delete
      \|
    -if can? :update, @photo
      = link_to 'edit', edit_photo_path(@photo)

-if current_user
  = render :partial => "comments/form", :locals => {:photo => @photo}
= render @photo.comments
