.row
  .span8.tablet-full-width
    .mini-challenge
      .title
        .name.pull-left= link_to challenge.name, challenge
        %ul.pull-left.inline
          %li
            - if current_user
              - additional_class = {1 => "btn-success", 0 => "", -1 => "btn-error"}[current_user.voted_for? challenge]
              = link_to votes_vote_path(:challenge_id => challenge.id, :value => 1), :method => "post", :class => "btn btn-mini " + additional_class do
                %i.icon-thumbs-up
              = challenge.vote_value
            - else
              %i.icon-thumbs-up
              = challenge.vote_value
          %li
            %i.icon-globe
            = link_to challenge.location.name, challenge.location
          - if challenge.difficulty
            %li
              %i.icon-star
              = challenge.difficulty_string
          - if challenge.duration
            %li
              %i.icon-time
              = challenge.duration
              = challenge.duration_unit
      %p= challenge.description
      = yield
