.row
  .span8
    .mini-challenge
      .title
        .name.pull-left= link_to challenge.name, challenge
        %ul.pull-left.inline
          %li
            - if current_user
              .btn.btn-mini
                %i.icon-thumbs-up
              = challenge.vote_value
            - else
              %i.icon-thumbs-up
              = challenge.vote_value
          %li
            %i.icon-globe
            = link_to challenge.location.name, challenge.location
          - if challenge.difficulty
            %li
              %i.icon-star
              = challenge.difficulty_string
          - if challenge.duration
            %li
              %i.icon-time
              = challenge.duration
              = challenge.duration_unit
      %p= challenge.description
      = yield
