.row
  .span3
    
    %h3= @challenge.name
    %ul.breadcrumb
      %li
        #{link_to @challenge.location.name, @challenge.location}
        %span.divider >
      %li.active Challenge
    %p= @challenge.description

    %p
      Posted by
      - if current_user == @challenge.user
        you
      - else
        #{link_to @challenge.user.username, @challenge.user}
      = time_ago_in_words @challenge.created_at
      ago
      - if can? :edit, @challenge
        |
        = link_to 'edit', edit_challenge_path(@challenge)
    .btn-group
      -if @challenge.completed_users.exists?(:id => current_user.id)
        = link_to 'Mark as incomplete', remove_completed_path(@challenge), :class => 'btn btn-small'
      -else
        = link_to add_completed_path(@challenge), :class => 'btn btn-small' do
          %i.icon-ok
          Mark Completed
      -if @challenge.todo_users.exists?(:id => current_user.id)
        = link_to 'Remove from Todo list', remove_todo_path(@challenge), :class => 'btn btn-small'
      -else
        = link_to add_todo_path(@challenge), :class => 'btn btn-small' do
          %i.icon-plus
          Todo List

  .span9
    .row
      %h4.span4 Photos
      .new_photo_form_container.span4

        = form_for Photo.new, :html => {:id => "ajax_photo_form", :class => "form-inline"} do |f|
          = f.hidden_field :challenge_id, :value => @challenge.id 
          = f.label :image, "Submit yours:"
          = f.file_field :image, multiple: true, name: "photo[image]"

    .row
      .span8
        - if @challenge.photos.any?
          -@photo_groups.each do |photo_group|
            %h3 
              =photo_group["group"]
            .thumbnail-grid
              %ul.thumbnails
                -photo_group["photos"].each do |photo|
                  =photo
                  
                  -#
                    %li.span4
                      = link_to photo, :class => "thumbnail" do
                        = image_tag photo.image.url(:thumb)
        - else
          .well
            Be the first to submit a photo to this challenge!
    %h4 Comments
    - if @challenge.comments.any?
      = render :partial => "comments/form", :locals => {:challenge => @challenge}
      = render @challenge.comments
    - else
      .well
        Be the first to comment on this challenge!
