.row
  .span3.tablet-full-width
    %h5= @challenge.location.name
    %h3= @challenge.name
    .row
      .span6.tablet-layout 
        %h6 Description
        %p= @challenge.description
        %p
          Posted by
          - if current_user == @challenge.user
            you
          - else
            #{link_to @challenge.user.username, @challenge.user}
          = time_ago_in_words @challenge.created_at
          ago
          - if can? :edit, @challenge
            |
            = link_to 'edit', edit_challenge_path(@challenge)

      .span6.tablet-layout
        -if current_user
          %h6 Actions
          .btn-group
            -if @challenge.completed_users.exists?(:id => current_user.id)
              = link_to 'Mark as incomplete', remove_completed_path(@challenge), :class => 'btn btn-small'
            -else
              = link_to add_completed_path(@challenge), :class => 'btn btn-small' do
                %i.icon-ok
                Mark Completed
            -if @challenge.todo_users.exists?(:id => current_user.id)
              = link_to 'Remove from Todo list', remove_todo_path(@challenge), :class => 'btn btn-small'
            -else
              = link_to add_todo_path(@challenge), :class => 'btn btn-small' do
                %i.icon-plus
                Todo List
        -if can? :create Photo
          #new_photo_form_container
            = form_for Photo.new, :html => {:id => "ajax_photo_form", :class => "form-inline"} do |f|
              = f.hidden_field :challenge_id, :value => @challenge.id 
              = f.label :image, "Submit your photos:"
              = f.file_field :image, multiple: true, name: "photo[image]"


  .span9.tablet-full-width
    .nojs
      %h4 Photos
    #photos-hash.content-hash
      -if @count > 0
        -@photo_groups.each do |photo_group|
          %h3 
            =photo_group["group"]
          .challenge-page-photo-grid
            -photo_group["photos"].each do |photo|
              .image-mouseover
                = link_to photo do
                  = image_tag photo.image.url(:thumb)
                .image-mouseover-content
                  -if not photo.caption.blank?
                    %p= photo.caption
                  %p
                    %small
                      Posted by 
                      = link_to photo.user.username, photo.user
      - else
        .well
          Be the first to submit a photo to this challenge!
    .nojs
      %h4 Comments
    #comments-hash.content-hash
      - if @challenge.comments.any?
        -if can? :create, Comment
          = render :partial => "comments/form", :locals => {:challenge => @challenge}
        = render @challenge.comments
      - else
        - if can? :create, Comment
          .well
            Be the first to comment on this challenge!
          = render :partial => "comments/form", :locals => {:challenge => @challenge}
        - else
          .well
            Log in to be the first to comment on this challenge!
