%h2
  = @challenge.name
  %small{:style => "display: inline-block"}
    in 
    #{link_to @challenge.location.name, @challenge.location}, posted by
    - if current_user == @challenge.user
      you
    - else
      - if @challenge.user
        #{link_to @challenge.user.username, @challenge.user}
      - else
        [deleted]
    %span
      = time_ago_in_words @challenge.created_at
      ago
    - if can? :edit, @challenge
      |
      = link_to "edit", edit_challenge_path(@challenge)
.actions
  = render :partial => "votes/vote", :locals => {:object => @challenge}
  -if current_user
    -if @challenge.completed_by? current_user
      = link_to remove_completed_path(@challenge), :class => 'btn btn-small btn-success' do
        %i.icon-ok
        Completed
        %span.completed-score
          = @challenge.difficulty * 10
          points
    -else
      .btn-group
        = link_to add_completed_path(@challenge), :class => 'btn btn-small' do
          %i.icon-ok
          Mark Done
        -if @challenge.todo_users.exists?(:id => current_user.id)
          = link_to remove_todo_path(@challenge), :class => 'btn btn-small' do
            %i.icon-minus
            Todo
        -else
          = link_to add_todo_path(@challenge), :class => 'btn btn-small' do
            %i.icon-plus
            Todo
  -if can? :create, Photo
    #new_photo_form_container
      .btn.btn-small
        %i.icon-plus
        Upload Your Photos
      = form_for Photo.new, :html => {:id => "ajax_photo_form", :class => "form-inline"} do |f|
        = f.hidden_field :challenge_id, :value => @challenge.id 
        = f.file_field :image, multiple: true, name: "photo[image]"
.onlyjs
  %ul.nav.nav-tabs.nav-hash
    %li#info-tab
      = link_to "#info" do
        %i.icon-info-sign
        Details
    %li#photos-tab
      = link_to "#photos" do
        %i.icon-picture
        Photos
    %li#comments-tab
      = link_to "#comments" do
        %i.icon-comments
        Comments
.nojs
  %h4 Info
#info-hash.content-hash
  .row
    .span6
  .row
    .span6
      %dl{:style => "margin-top: 0"}
        %dt 
          %i.icon-reorder
          Description
        %dd= @challenge.description
        - if @challenge.difficulty
          %dt
            %i.icon-star
            Difficulty
          %dd= @challenge.difficulty_string
        - if @challenge.duration
          %dt
            %i.icon-time
            Time Required
          %dd #{@challenge.duration_string}
    .span6 

      - if not @challenge.lat.blank?
        %p
          %i.icon-map-marker
          %strong Location
          \- 
          = link_to "Larger Map", "https://maps.google.com/maps?hl=en&q=#{@challenge.lat},#{@challenge.lon}&t=m&z=16"

        = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAe1Wo6-iOo1JdVcxvfknIMjHF6z1uTtTw&sensor=false"
        = image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@challenge.lat},#{@challenge.lon}&zoom=13&size=300x200&maptype=roadmap&markers=color:red%7C#{@challenge.lat},#{@challenge.lon}&sensor=false", :id => "challenge-location-image", "data-lat" => @challenge.lat, "data-lon" => @challenge.lon
.nojs
  %h4 Photos
#photos-hash.content-hash
  -if @count > 0
    .photo-grid
      -@ordered_photos.each do |photo|
        .image-mouseover{:class => @photos_to_photo_types[photo.id]}
          = link_to photo do
            = image_tag photo.image.url(:thumb)
          .image-mouseover-content.hidden-phone.hidden-tablet
            -if not photo.caption.blank?
              %p= truncate(photo.caption, :length => 70)
            %p
              %small
                Posted by 
                = link_to (photo.user == current_user ? "you" : photo.user.username), photo.user
  - else
    .well
      Be the first to submit a photo to this challenge!
.nojs
  %h4 Comments
#comments-hash.content-hash
  = render :partial => "comments/comment_area", :locals => {:object => @challenge}
