.row
  .span4
    

    %h1= @challenge.name
    %ul.breadcrumb
      %li
        #{link_to @challenge.location.name, @challenge.location}
        %span.divider >
      %li.active Challenge
    %p= @challenge.description

    %p
      Posted by
      - if current_user == @challenge.user
        you
      - else
        #{link_to @challenge.user.username, @challenge.user}
      = time_ago_in_words @challenge.created_at
      ago
      - if can? :edit, @challenge
        |
        = link_to 'edit', edit_challenge_path(@challenge)
  .span8
    .row
      %h3.span4 Photos
      .new_photo_form_container.span4

        = form_for Photo.new, :html => {:id => "ajax_photo_form", :class => "form-inline"} do |f|
          = f.hidden_field :challenge_id, :value => @challenge.id 
          = f.label :image, "Submit yours:"
          = f.file_field :image, multiple: true, name: "photo[image]"

    .row
      .span8
        - if @challenge.photos.any?
          .thumbnail-grid
            %ul.thumbnails
              -@challenge.photos.each do |photo|
                %li.span4
                  = link_to photo, :class => "thumbnail" do
                    = image_tag photo.image.url(:thumb)
        - else
          .well
            Be the first to submit a photo to this challenge!



    %h3 Comments
    .well
      Be the first to comment on this challenge!

    = render :partial => "comments/form", :locals => {:challenge => @challenge}
    = render @challenge.comments
