:css
  .big-image {
    background-image: url(#{@location.image});
    background-size: cover;
    background-position: center;

    margin-top: -60px;
  }

- content_for (:above_container) do
  .big-image
    .container
      .row
        .span12
          .pull-right.controls
            -if can? :update, @location
              = link_to '(Admin) Edit', edit_location_path(@location), :class => "btn"
          %h2= @location.name
          %p= @location.description

.row
  .span8.tablet-full-width               
    .pull-right
      -if can? :create, Challenge
        = link_to new_challenge_path(:location_id => @location.id), :class => "btn" do
          %i.icon-plus
          Post a Challenge in #{@location.name} 
    %h3 Challenges
    - if @location.challenges.count
      - @location.challenges.each do |challenge|
        = render :layout => "challenges/mini", :locals => {:challenge => challenge} do
          .tiny-photos
            - challenge.photos(@graph, current_user).each do |photo|
              = link_to photo do
                = image_tag photo.image(:tiny)
  .span4.tablet-full-width
    -#
      %h4 Potential locations of interest in this area:
      .google-places
        - @venues.each do |venue| 
          = venue.name
          = venue.rating
  
