:css
  .big-image {
    background-image: url(#{@location.image});
    background-size: cover;
    background-position: center;

    margin-top: -60px;
    padding-top: 60px;
    padding-bottom: 20px;
  }

- content_for (:above_container) do
  .big-image 
    .container
      .row
        .span3.tablet-full-width
          %h2= @location.name
          %p Find inspiration in the city that never sleeps.
        .span9.tablet-full-width
          - if @location.challenges.any?
            .big-challenge
              %h6 Top Challenge
              - challenge = @location.challenges.first
              %h3= link_to challenge.name, challenge
              %p= challenge.description
              .thumbnail-hider
                .row-thumbnails
                  - challenge.photos(nil, nil, challenge).each do |photo|
                    = link_to photo do
                      = image_tag photo.image(:thumb)
                .more-photos
                  
            - if @location.challenges.count > 1
              %h6 More Challenges
              .row
                - @location.challenges.slice(1, @location.challenges.count).each do |challenge|
                  .span4
                    %h3= link_to challenge.name, challenge
                    %p= challenge.description
  

%p
  %b Places of interest:
  - @venues.each do |venue| 
    %p
      = venue.name
      = venue.rating
  =@url


-if current_user
  = link_to 'Edit', edit_location_path(@location)
  \|
= link_to 'Back', locations_path

-if current_user
  \|
  = link_to "Add a Challenge Here", new_challenge_path(:location_id => @location.id)
