.row
  .span8
    .hero-unit.location-page{:style => "background: url(#{@location.image})"}
      %h1
        %span.bg= @location.name
      %p
        %span.bg Find inspiration in the city that never sleeps.
  .span4
    .well
      You haven't done any challenges in New York yet!
- if @location.challenges.any?
  %ul.thumbnails
    - challenge = @location.challenges.first
    %li.span12
      .thumbnail
        %h3= challenge.name
  

%p
  %b Places of interest:
  - @venues.each do |venue| 
    %p
      = venue.name
      = venue.rating
  =@url


= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path


= link_to "Add a Challenge Here", new_challenge_path(:location_id => @location.id)
