.subhead
  %h1
    = @location.name

-#
  %p
    %b Name:
    = @location.name

%p
  %b Latitude:
  = @location.lat
%p
  %b Longitude:
  = @location.lon
= image_tag @location.image
%p
  %b Places of interest:
  - @venues.each do |venue| 
    %p
      = venue.name
      = venue.rating
  =@url


= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path


= link_to "Add a Challenge Here", new_challenge_path(:location_id => @location.id)
