:css
  .big-image {
    background-image: url(#{@location.image});
    background-size: cover;
    background-position: center;

    margin-top: -60px;
  }

- content_for (:above_container) do
  .big-image
    .container
      .row
        .span12
          .pull-right.controls
            -if can? :update, @location
              = link_to '(Admin) Edit', edit_location_path(@location), :class => "btn"
          %h2= @location.name
          %p= @location.description

.row.main-content
  .span4.tablet-full-width.pull-right{:style => "margin-top: 10px"}
    - if current_user and @challenges_completed.any?
      %h5 #{@challenges_completed.count} challenges completed in #{@location.name}.
      %p #{@challenges_completed.sum {|a| a.difficulty} * 10} / #{@location.challenges.sum{|a| a.difficulty} * 10} points for this location.
      %ul.unstyled.hidden-tablet
        - @challenges_completed.each do |challenge|
          %li
            = link_to challenge.name, challenge
            %span.muted
              %i.icon-star
              = challenge.difficulty_string
    - else
      .well
        No challenges completed in #{@location.name} yet!  Browse on the left to find something you want to do!
  .span8.tablet-full-width.pull-left    
    .pull-right
      -if can? :create, Challenge
        = link_to new_challenge_path(:location_id => @location.id), :class => "btn new_challenge_link" do
          %i.icon-plus
          Post a Challenge in #{@location.name} 
    %h3 Challenges
    - if @challenges.count
      %ul.inline
        %li Sort by:
        %li.challenge-sort= sortable "score", "vote_value"
        %li.challenge-sort= sortable "duration", "duration_value"
        %li.challenge-sort= sortable "difficulty"
        - if current_user
          %li
          %li Options:
          %li
            %span.challenge-hide-by
              %ul.inline
                - if params[:hide] == 'completed'
                  %li
                    = link_to ({:sort => params[:sort], :direction => params[:direction]}) do
                      = succeed "Hide Completed" do
                        %i.icon-check
                - else 
                  %li
                    = link_to ({:hide => 'completed', :sort => params[:sort], :direction => params[:direction]}) do
                      = succeed "Hide Completed" do
                        %i.icon-check-empty
      - @challenges.each do |challenge|
        = render :layout => "challenges/mini", :locals => {:challenge => challenge} do
          .tiny-photos
            - challenge.photos(@graph, current_user).each do |photo|
              = link_to photo do
                = image_tag photo.image(:tiny)
  
