:css
  body {
    background-image: url(#{@location.image});
    background-size: cover;
    background-position: center;
  }


.row
  .span3.tablet-full-width
    .location-information
      %h2= @location.name
      %p= @location.description
      - @venues.each do |venue| 
        = venue.name
        = venue.rating
      .controls
        -if can? :update, @location
          = link_to 'Edit', edit_location_path(@location)
          \|
        = link_to 'Back', locations_path
  .span9.tablet-full-width
    - if @location.challenges.any?
      .big-challenge
        %h6 Top Challenge
        - challenge = @location.challenges.first
        %h3= link_to challenge.name, challenge
        %p= challenge.description
        .thumbnail-hider
          .row-thumbnails
            - challenge.photos(nil, nil, challenge).each do |photo|
              = link_to photo do
                = image_tag photo.image(:thumb)
          .more-photos
            
      - if @location.challenges.count > 1
        %h6 More Challenges
        .row
          - @location.challenges.slice(1, @location.challenges.count).each do |challenge|
            .span4
              %h3= link_to challenge.name, challenge
              %p= challenge.description
    -if can? :create, Location
      = link_to "Add a Challenge Here", new_challenge_path(:location_id => @location.id), :class => "btn"
