!!! 5

%html
  %head
    %title Ultramarine

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body{:class => params[:controller] + " " + params[:action]}
    #main-navbar.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{'data-toggle'=>'collapse', 'data-target'=>'.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Ultramarine", :root, :class => "brand"
          .nav-collapse
            %ul.nav
              %li 
                = link_to "Locations", locations_path

            %ul.nav.pull-right
              - if current_user
                %li.dropdown
                  =link_to nil, {:class => "dropdown-toggle", :'data-toggle' => "dropdown"} do
                    = current_user.username
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      =link_to "Profile", user_path(current_user)
                    %li
                      =link_to edit_user_registration_path do
                        Edit account
                        %i.icon-wrench
                    %li
                      =link_to "Logout", destroy_user_session_path, :method => :delete
                  
              - else
                %li
                  = link_to user_omniauth_authorize_path(:facebook), :style=>"color: #3B5998" do
                    %i.icon-facebook-sign
                    Sign in with Facebook

                %li
                  = link_to "Sign in", new_user_session_path
                %li
                  = link_to "Register", new_user_registration_path

    = yield(:above_container)
    .container
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-error
          = flash[:alert]
      = yield

    .container#footer
      %small Ultramarine by Brodrick Childs and Sashko Stubailo, 2013.
